{% set ns = namespace(loopback_intf_name=none, loopback_ip=none, management_intf_name=none, management_ip=none) %}
{% for intf in data.device[0].interfaces %}
{%   if intf.role.name.value == "loopback" %}
{%     set ns.loopback_intf_name = intf.name.value %}
{%     set ns.loopback_ip = intf.ip_addresses[0].address.value.split('/')[0] %}
{%   elif intf.role.name.value == "management" %}
{%     set ns.management_intf_name = intf.name.value %}
{%     set ns.management_ip = intf.ip_addresses[0].address.value.split('/')[0] %}
{%   endif %}
{% endfor %}
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$q4ez.aZgB/G/eeWW$ukvRobb5RtYmUlCcY0atxhwPmA6FPoRjR3AxYFJqNFoCRgJjrohKGrBsbY12n1uRZeCer1L8oejx5aPlrf.op0
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ data.device[0].name.value }}
!
spanning-tree mode mstp
!
management api http-commands
   no shutdown
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
!
{% for intf in data.device[0]["interfaces"] %}
{%   if intf.name.value != ns.management_intf_name and intf.name.value != ns.loopback_intf_name %}
interface {{intf["name"]["value"]}}
{%   if intf["description"]["value"] %}
   description {{ intf["description"]["value"] }}
{%   else %}
   description role: {{ intf.role.name.value }}
{%   endif %}
{%   if not intf["enabled"]["value"] %}
   shutdown
{%   endif %}
{%   for ip in intf["ip_addresses"] %}
   ip address {{ ip["address"]["value"] }}
   no switchport
{%   if intf.role.name.value == "peer" or intf.role.name.value == "backbone" %}
   ip ospf network point-to-point
{%   endif %}
{%   endfor %}
!
{%   endif %}
{% endfor %}
!
interface {{ ns.management_intf_name }}
{% for intf in data.device[0]["interfaces"] %}
{%   if intf.name.value == ns.management_intf_name %}
{%     for ip in intf["ip_addresses"] %}
   ip address {{ ip["address"]["value"] }}
{%     endfor %}
{%   endif %}
{% endfor %}
!
interface {{ ns.loopback_intf_name }}
{% for intf in data.device[0]["interfaces"] %}
{%   if intf.name.value == ns.loopback_intf_name %}
{%     for ip in intf["ip_addresses"] %}
   ip address {{ ip["address"]["value"] }}
{%     endfor %}
{%   endif %}
{% endfor %}
!
ip prefix-list BOGON-Prefixes seq 10 permit 172.16.0.0/12 le 24
ip prefix-list BOGON-Prefixes seq 20 permit 192.168.0.0/16 le 24
ip prefix-list BOGON-Prefixes seq 20 permit 192.168.0.0/16 le 24
!
ip routing
!
ip route 0.0.0.0/0 172.20.20.1
!
{% if data.device[0].asn %}
router bgp {{ data.device[0].asn.asn.value }}
   router-id {{ loopback_ip }}
{%   for peer_group in data.bgp_peer_group %}
   neighbor {{ peer_group.name.value }} peer group
{%     if peer_group.local_as %}
   neighbor {{ peer_group.name.value }} local-as {{ peer_group.local_as.asn.value }}
{%     endif %}
{%     if peer_group.remote_as %}
   neighbor {{ peer_group.name.value }} remote-as {{ peer_group.remote_as.asn.value }}
{%     endif %}
{%   endfor %}
!
{% endif %}
!
router ospf 1
   router-id {{ loopback_ip }}
   redistribute connected
   max-lsa 12000
   passive-interface Loopback0
   network 0.0.0.0/0 area 0.0.0.0
!
route-map BOGONS permit 10
 match ip address prefix-list BOGON-Prefixes
!
route-map BOGONS deny 20
!
end
