{% set bgp_sessions = data.InfraBGPSession.edges %}
{% set router_id = data.InfraDevice.edges[0].node.primary_address.node.address.value %}
{% set local_as = bgp_sessions[0].node.local_as.node.asn.value %}

router_bgp:
  as: {{ local_as }}
  router_id: {{ router_id }}
  peer_groups:
    {% for edge in bgp_sessions %}
    {% set session = edge.node %}
    {{ session.peer_group.node.name.value }}:
      type: dynamic
      remote_as: {{ session.remote_as.node.asn.value }}
      description: "{{ session.description.value }}"
    {% endfor %}
  neighbors:
    {% for edge in bgp_sessions %}
    {% set session = edge.node %}
    {{ session.remote_ip.node.address.value }}:
      peer_group: {{ session.peer_group.node.name.value }}
      remote_as: {{ session.remote_as.node.asn.value }}
      description: "{{ session.description.value }}"
    {% endfor %}