
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$q4ez.aZgB/G/eeWW$ukvRobb5RtYmUlCcY0atxhwPmA6FPoRjR3AxYFJqNFoCRgJjrohKGrBsbY12n1uRZeCer1L8oejx5aPlrf.op0
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ data.InfraDevice.edges[0].node.name.value }}
!
spanning-tree mode mstp
!
management api http-commands
   no shutdown
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
!

{% from "templates/device_startup_interfaces.j2" import render_interfaces %}
{{ render_interfaces(data.InfraDevice.edges[0].node.interfaces.edges) }}
!
ip prefix-list BOGON-Prefixes seq 10 permit 172.16.0.0/12 le 24
ip prefix-list BOGON-Prefixes seq 20 permit 192.168.0.0/16 le 24
ip prefix-list BOGON-Prefixes seq 10 permit 172.16.0.0/12 le 24
ip prefix-list BOGON-Prefixes seq 20 permit 192.168.0.0/16 le 24
!
ip routing
!
ip route 0.0.0.0/0 172.20.20.1
!
{% if data.InfraDevice.edges[0].node.asn %}
router bgp {{ data.InfraDevice.edges[0].node.asn.node.asn.value }}
   router-id {{ loopback_ip }}
{%   for peer_group in data.InfraBGPPeerGroup.edges %}
   neighbor {{ peer_group.node.name.value }} peer group
{%     if peer_group.node.local_as %}
   neighbor {{ peer_group.node.name.value }} local-as {{ peer_group.node.local_as.node.asn.value }}
{%     endif %}
{%     if peer_group.node.remote_as and peer_group.node.remote_as.node %}
   neighbor {{ peer_group.node.name.value }} remote-as {{ peer_group.node.remote_as.node.asn.value }}
{%     endif %}
{%   endfor %}
!
{% endif %}
!
router ospf 1
   router-id {{ loopback_ip }}
   redistribute connected
   max-lsa 12000
   passive-interface Loopback0
   network 0.0.0.0/0 area 0.0.0.0
!
route-map BOGONS permit 10
 match ip address prefix-list BOGON-Prefixes
!
route-map BOGONS deny 20
!
end
