{% if device_interfaces is not defined %}
  {% set device_interfaces = data.InfraInterface.edges %}
{% endif %}

{% set ns = namespace(loopback_intf_name=none, loopback_ip=none, management_intf_name=none, management_ip=none) %}
{% for intf in device_interfaces %}
{%   if intf.node.role.value == "loopback" %}
{%     set ns.loopback_intf_name = intf.node.name.value %}
{%     set ns.loopback_ip = intf.node.ip_addresses.edges[0].node.address.value.split('/')[0] %}
{%   elif intf.node.role.value == "management" %}
{%     set ns.management_intf_name = intf.node.name.value %}
{%     set ns.management_ip = intf.node.ip_addresses.edges[0].node.address.value.split('/')[0] %}
{%   endif %}
{% endfor %}
{% for intf in device_interfaces %}
{%   if intf.node.name.value != ns.management_intf_name and intf.node.name.value != ns.loopback_intf_name %}
interface {{ intf.node.name.value }}
{%   if intf.node["description"]["value"] %}
   description {{ intf.node["description"]["value"] }}
{%   else %}
   description role: {{ intf.node.role.value }}
{%   endif %}
{%   if "mtu" in intf.node and intf.node["mtu"]["value"] %}
   mtu {{ intf.node["mtu"]["value"] }}
{%   endif %}
{%   if not intf.node["enabled"]["value"] %}
   shutdown
{%   endif %}
{%   if intf.node["ip_addresses"] %}
{%     for ip in intf.node["ip_addresses"]["edges"] %}
   ip address {{ ip.node["address"]["value"] }}
   no switchport
{%       if intf.node.role.value == "peer" or intf.node.role.value == "backbone" %}
   ip ospf network point-to-point
{%       endif %}
{%     endfor %}
{%   endif %}
!
{%   endif %}
{% endfor %}
!
interface {{ ns.management_intf_name }}
{% for intf in device_interfaces %}
{%   if intf.node.name.value == ns.management_intf_name %}
{%     for ip in intf["ip_addresses"] %}
   ip address {{ ip["address"]["value"] }}
{%     endfor %}
{%   endif %}
{% endfor %}
!
interface {{ ns.loopback_intf_name }}
{% for intf in device_interfaces %}
{%   if intf.node.name.value == ns.loopback_intf_name %}
{%     for ip in intf["ip_addresses"] %}
   ip address {{ ip["address"]["value"] }}
{%     endfor %}
{%   endif %}
{% endfor %}
!